input[type=text],textarea{padding:7px 10px}
.button,button,input[type=button],input[type=reset],input[type=submit]{float: right; margin-right: 15px; margin-right: 15px;}
#form_info ul{overflow:hidden}
#form_info li{display:block;float:left;margin-left:20px;width:238px}
#form_text{float:left;margin-left:20px}
#form_text textarea{width:720px}
